eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: ${EUREKA_HOST:http://localhost:8761/eureka/}

spring:
  sleuth:
    enabled: true
  zipkin:
    base-url: http://zipkin-svc:9411
    enabled: true

